{
  "openapi": "3.0.0",
  "info": {
    "title": "Goodays API",
    "description": "Goodays (formerly Critizr) REST API for managing your customer experience environment: places, levels, surveys, users, customer reviews (responses), solicitations (email/SMS outreach), events, and statistics. Reconstructed by API Evangelist from the per-endpoint OpenAPI fragments published on the Goodays ReadMe docs.",
    "version": "v2"
  },
  "servers": [
    {
      "url": "https://api.goodays.co/v2"
    }
  ],
  "security": [
    {
      "tokenAuth": []
    }
  ],
  "paths": {
    "/configuration": {
      "get": {
        "operationId": "configuration_list",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Configuration_read"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "core"
        ]
      }
    },
    "/dashboard": {
      "get": {
        "operationId": "dashboard_list",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Dashboard_read"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "sort",
            "required": false,
            "in": "query",
            "description": "Which field to use when ordering the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "place",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "level",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pro_user",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "dashboard"
        ]
      }
    },
    "/events": {
      "get": {
        "operationId": "events_list",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Event_read"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "events"
        ]
      }
    },
    "/events/{id}/sample_delegated": {
      "get": {
        "operationId": "events_sample_delegated",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/EventSampleResponse_read"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "events"
        ]
      }
    },
    "/events/{id}/sample_message": {
      "get": {
        "operationId": "events_sample_message",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/EventSampleMessage_read"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "events"
        ]
      }
    },
    "/events/{id}/sample_reply": {
      "get": {
        "operationId": "events_sample_reply",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/EventSampleResponse_read"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "events"
        ]
      }
    },
    "/events/{id}/sample_response": {
      "get": {
        "operationId": "events_sample_response",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/EventSampleResponse_read"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "events"
        ]
      }
    },
    "/levels": {
      "get": {
        "operationId": "levels_list",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Level_read"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "cursor",
            "required": false,
            "in": "query",
            "description": "The pagination cursor value.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_size",
            "required": false,
            "in": "query",
            "description": "Number of results to return per page.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sort",
            "required": false,
            "in": "query",
            "description": "Which field to use when ordering the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category_id",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "number"
            }
          }
        ],
        "tags": [
          "core"
        ]
      }
    },
    "/levels/{id}": {
      "get": {
        "operationId": "levels_read",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/LevelDetail_read"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "description": "A unique value identifying this brand level.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "core"
        ]
      }
    },
    "/levels/{level_pk}/places": {
      "get": {
        "operationId": "levels_places_list",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Place_read"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "level_pk",
            "required": true,
            "in": "path",
            "description": "A unique value identifying the parent level.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "required": false,
            "in": "query",
            "description": "The pagination cursor value.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_size",
            "required": false,
            "in": "query",
            "description": "Number of results to return per page.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sort",
            "required": false,
            "in": "query",
            "description": "Which field to use when ordering the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "partner_id",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "core"
        ]
      }
    },
    "/levels/{level_pk}/responses": {
      "get": {
        "operationId": "levels_responses_list",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Response_read"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "level_pk",
            "required": true,
            "in": "path",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "required": false,
            "in": "query",
            "description": "The pagination cursor value.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_size",
            "required": false,
            "in": "query",
            "description": "Number of results to return per page.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sort",
            "required": false,
            "in": "query",
            "description": "Which field to use when ordering the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_date",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date_field",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "first_name",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "last_name",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "phone",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "crm_id",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "place",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "source",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "survey",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "has_answers",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "has_message",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "has_reply",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "core"
        ]
      }
    },
    "/levels/{level_pk}/responses/bulk": {
      "get": {
        "operationId": "levels_responses_bulk",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDetail_read"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "level_pk",
            "required": true,
            "in": "path",
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "core"
        ]
      }
    },
    "/places": {
      "get": {
        "operationId": "places_list",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Place_read"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "cursor",
            "required": false,
            "in": "query",
            "description": "The pagination cursor value.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_size",
            "required": false,
            "in": "query",
            "description": "Number of results to return per page.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sort",
            "required": false,
            "in": "query",
            "description": "Which field to use when ordering the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "partner_id",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "core"
        ]
      }
    },
    "/places/{id}": {
      "get": {
        "operationId": "places_read",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PlaceDetail_read"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "description": "A unique value identifying this place.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "core"
        ]
      }
    },
    "/places/{place_pk}/levels": {
      "get": {
        "operationId": "places_levels_list",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Level_read"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "place_pk",
            "required": true,
            "in": "path",
            "description": "A unique value identifying the parent place.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "required": false,
            "in": "query",
            "description": "The pagination cursor value.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_size",
            "required": false,
            "in": "query",
            "description": "Number of results to return per page.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sort",
            "required": false,
            "in": "query",
            "description": "Which field to use when ordering the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category_id",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "number"
            }
          }
        ],
        "tags": [
          "core"
        ]
      }
    },
    "/places/{place_pk}/responses": {
      "get": {
        "operationId": "places_responses_list",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Response_read"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "place_pk",
            "required": true,
            "in": "path",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "required": false,
            "in": "query",
            "description": "The pagination cursor value.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_size",
            "required": false,
            "in": "query",
            "description": "Number of results to return per page.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sort",
            "required": false,
            "in": "query",
            "description": "Which field to use when ordering the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_date",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date_field",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "first_name",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "last_name",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "phone",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "crm_id",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "place",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "source",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "survey",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "has_answers",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "has_message",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "has_reply",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "core"
        ]
      }
    },
    "/places/{place_pk}/responses/bulk": {
      "get": {
        "operationId": "places_responses_bulk",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDetail_read"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "place_pk",
            "required": true,
            "in": "path",
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "core"
        ]
      }
    },
    "/places/{place_pk}/surveys": {
      "get": {
        "operationId": "places_surveys_list",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Survey_read"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "place_pk",
            "required": true,
            "in": "path",
            "description": "A unique value identifying the parent place.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "required": false,
            "in": "query",
            "description": "The pagination cursor value.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_size",
            "required": false,
            "in": "query",
            "description": "Number of results to return per page.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sort",
            "required": false,
            "in": "query",
            "description": "Which field to use when ordering the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "core"
        ]
      }
    },
    "/places/{place_pk}/users": {
      "get": {
        "operationId": "places_users_list",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/UserProfile_read"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "place_pk",
            "required": true,
            "in": "path",
            "description": "A unique value identifying the parent place.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "required": false,
            "in": "query",
            "description": "The pagination cursor value.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_size",
            "required": false,
            "in": "query",
            "description": "Number of results to return per page.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sort",
            "required": false,
            "in": "query",
            "description": "Which field to use when ordering the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "first_name",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "last_name",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "phone",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "core"
        ]
      }
    },
    "/responses": {
      "post": {
        "operationId": "responses_create",
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseBatchEntryCreate_write"
                }
              }
            }
          }
        },
        "requestBody": {
          "$ref": "#/components/requestBodies/levels_responses_collectData"
        },
        "tags": [
          "response"
        ]
      },
      "get": {
        "operationId": "responses_list",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Response_read"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "cursor",
            "required": false,
            "in": "query",
            "description": "The pagination cursor value.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_size",
            "required": false,
            "in": "query",
            "description": "Number of results to return per page.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sort",
            "required": false,
            "in": "query",
            "description": "Which field to use when ordering the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_date",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date_field",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "first_name",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "last_name",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "phone",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "crm_id",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "place",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "source",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "survey",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "has_answers",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "has_message",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "has_reply",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "response"
        ]
      }
    },
    "/responses/bulk": {
      "get": {
        "operationId": "responses_bulk",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDetail_read"
                }
              }
            }
          }
        },
        "tags": [
          "response"
        ]
      }
    },
    "/responses/collect": {
      "post": {
        "operationId": "responses_collect",
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCollect_write"
                }
              }
            }
          }
        },
        "requestBody": {
          "$ref": "#/components/requestBodies/levels_responses_collectData"
        },
        "tags": [
          "response"
        ]
      }
    },
    "/responses/{id}": {
      "get": {
        "operationId": "responses_read",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDetail_read"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "response"
        ]
      }
    },
    "/responses/{id}/call": {
      "put": {
        "operationId": "responses_call",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseActionCall_read"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "user": {
                    "description": "",
                    "type": "string"
                  },
                  "note": {
                    "description": "",
                    "type": "string"
                  },
                  "rating": {
                    "description": "",
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "response"
        ]
      }
    },
    "/responses/{id}/close": {
      "put": {
        "operationId": "responses_close",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseActionClose_read"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/responses_closeData"
        },
        "tags": [
          "response"
        ]
      }
    },
    "/responses/{id}/message": {
      "put": {
        "operationId": "responses_message",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseActionMessage_read"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "user": {
                    "description": "",
                    "type": "string"
                  },
                  "content": {
                    "description": "",
                    "type": "string"
                  }
                },
                "required": [
                  "content"
                ]
              }
            }
          }
        },
        "tags": [
          "response"
        ]
      }
    },
    "/responses/{id}/reply": {
      "put": {
        "operationId": "responses_reply",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseActionReply_read"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "user": {
                    "description": "",
                    "type": "string"
                  },
                  "content": {
                    "description": "",
                    "type": "string"
                  },
                  "remark_type": {
                    "description": "",
                    "type": "string"
                  }
                },
                "required": [
                  "content"
                ]
              }
            }
          }
        },
        "tags": [
          "response"
        ]
      }
    },
    "/responses/{id}/spam": {
      "put": {
        "operationId": "responses_spam",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseActionSpam_read"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/responses_closeData"
        },
        "tags": [
          "response"
        ]
      }
    },
    "/session": {
      "get": {
        "operationId": "session_list",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Session_read"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "session"
        ]
      }
    },
    "/solicitations": {
      "post": {
        "operationId": "solicitations_create",
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SolicitationCreate_write"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "place": {
                    "description": "",
                    "type": "string"
                  },
                  "type": {
                    "description": "",
                    "type": "string"
                  },
                  "survey": {
                    "description": "",
                    "type": "string"
                  },
                  "sender": {
                    "description": "",
                    "type": "string"
                  },
                  "recipient": {
                    "description": "",
                    "type": "string"
                  },
                  "context": {
                    "description": "",
                    "type": "object",
                    "properties": {}
                  }
                },
                "required": [
                  "place",
                  "type",
                  "survey",
                  "sender",
                  "recipient",
                  "context"
                ]
              }
            }
          }
        },
        "tags": [
          "solicitation"
        ]
      },
      "get": {
        "operationId": "solicitations_list",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Solicitation_read"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "cursor",
            "required": false,
            "in": "query",
            "description": "The pagination cursor value.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_size",
            "required": false,
            "in": "query",
            "description": "Number of results to return per page.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sort",
            "required": false,
            "in": "query",
            "description": "Which field to use when ordering the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "recipient",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "place",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "partner_id",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "is_success",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "solicitation"
        ]
      }
    },
    "/solicitations/bulk": {
      "post": {
        "operationId": "solicitations_bulk",
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SolicitationBulkCreate_write"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "place": {
                    "description": "",
                    "type": "string"
                  },
                  "type": {
                    "description": "",
                    "type": "string"
                  },
                  "survey": {
                    "description": "",
                    "type": "string"
                  },
                  "sender": {
                    "description": "",
                    "type": "string"
                  },
                  "data": {
                    "description": "",
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                },
                "required": [
                  "place",
                  "type",
                  "survey",
                  "sender",
                  "data"
                ]
              }
            }
          }
        },
        "tags": [
          "solicitation"
        ]
      }
    },
    "/solicitations/{id}": {
      "get": {
        "operationId": "solicitations_read",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SolicitationDetail_read"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "description": "A unique value identifying this push transaction.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "solicitation"
        ]
      }
    },
    "/stats/dissatisfaction": {
      "get": {
        "operationId": "stats_dissatisfaction_list",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DissatisfactionMetric_read"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "by",
            "required": false,
            "in": "query",
            "description": "The field used to aggregate the metric.",
            "schema": {
              "type": "string",
              "enum": [
                "day",
                "month",
                "nps_category",
                "place",
                "quarter",
                "remark_type",
                "source",
                "survey",
                "year"
              ]
            }
          },
          {
            "name": "by_context",
            "required": false,
            "in": "query",
            "description": "The key from the context used to aggregate the metric.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "by_level_category",
            "required": false,
            "in": "query",
            "description": "The level category value used to aggregate the metric.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "place",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "places",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "level",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "levels",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "question",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "survey",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "nps",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string",
              "enum": [
                "detractor",
                "passive",
                "promoter"
              ]
            }
          },
          {
            "name": "remark_type",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string",
              "enum": [
                "Idea",
                "Message",
                "NoType",
                "Praise",
                "Problem",
                "Question"
              ]
            }
          },
          {
            "name": "source",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string",
              "enum": [
                "api",
                "apple_app_store",
                "critizr",
                "email",
                "facebook",
                "facebook_messenger",
                "facebook_reviews",
                "google",
                "google_messaging",
                "google_play_store",
                "merci",
                "outbound_call",
                "pagesjaunes",
                "plv",
                "receipt",
                "sdk",
                "sms",
                "sms_conv",
                "sms_text",
                "sms_trans",
                "terminal",
                "tripadvisor",
                "uber_eats",
                "undefined",
                "whatsapp",
                "widget",
                "wifi"
              ]
            }
          },
          {
            "name": "begin",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "stats"
        ]
      }
    },
    "/stats/google_score": {
      "get": {
        "operationId": "stats_google_score_list",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GoogleScoreMetric_read"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "by",
            "required": false,
            "in": "query",
            "description": "The field used to aggregate the metric.",
            "schema": {
              "type": "string",
              "enum": [
                "month",
                "place"
              ]
            }
          },
          {
            "name": "by_level_category",
            "required": false,
            "in": "query",
            "description": "The level category value used to aggregate the metric.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "place",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "places",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "level",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "levels",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "begin",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "month",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "stats"
        ]
      }
    },
    "/stats/nps": {
      "get": {
        "operationId": "stats_nps_list",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NpsMetric_read"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "by",
            "required": false,
            "in": "query",
            "description": "The field used to aggregate the metric.",
            "schema": {
              "type": "string",
              "enum": [
                "day",
                "month",
                "nps_category",
                "place",
                "quarter",
                "remark_type",
                "source",
                "survey",
                "year"
              ]
            }
          },
          {
            "name": "by_context",
            "required": false,
            "in": "query",
            "description": "The key from the context used to aggregate the metric.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "by_level_category",
            "required": false,
            "in": "query",
            "description": "The level category value used to aggregate the metric.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "place",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "places",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "level",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "levels",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "question",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "survey",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "nps",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string",
              "enum": [
                "detractor",
                "passive",
                "promoter"
              ]
            }
          },
          {
            "name": "remark_type",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string",
              "enum": [
                "Idea",
                "Message",
                "NoType",
                "Praise",
                "Problem",
                "Question"
              ]
            }
          },
          {
            "name": "source",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string",
              "enum": [
                "api",
                "apple_app_store",
                "critizr",
                "email",
                "facebook",
                "facebook_messenger",
                "facebook_reviews",
                "google",
                "google_messaging",
                "google_play_store",
                "merci",
                "outbound_call",
                "pagesjaunes",
                "plv",
                "receipt",
                "sdk",
                "sms",
                "sms_conv",
                "sms_text",
                "sms_trans",
                "terminal",
                "tripadvisor",
                "uber_eats",
                "undefined",
                "whatsapp",
                "widget",
                "wifi"
              ]
            }
          },
          {
            "name": "begin",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "stats"
        ]
      }
    },
    "/stats/relationship": {
      "get": {
        "operationId": "stats_relationship_list",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RelationshipMetric_read"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "by",
            "required": false,
            "in": "query",
            "description": "The field used to aggregate the metric.",
            "schema": {
              "type": "string",
              "enum": [
                "month",
                "place"
              ]
            }
          },
          {
            "name": "by_level_category",
            "required": false,
            "in": "query",
            "description": "The level category value used to aggregate the metric.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "place",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "places",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "level",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "levels",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "begin",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "month",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "stats"
        ]
      }
    },
    "/stats/remarks": {
      "get": {
        "operationId": "stats_remarks_list",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RemarksMetric_read"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "by",
            "required": false,
            "in": "query",
            "description": "The field used to aggregate the metric.",
            "schema": {
              "type": "string",
              "enum": [
                "day",
                "month",
                "nps_category",
                "place",
                "quarter",
                "remark_type",
                "source",
                "survey",
                "year"
              ]
            }
          },
          {
            "name": "by_context",
            "required": false,
            "in": "query",
            "description": "The key from the context used to aggregate the metric.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "by_level_category",
            "required": false,
            "in": "query",
            "description": "The level category value used to aggregate the metric.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "place",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "places",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "level",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "levels",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "question",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "survey",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "nps",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string",
              "enum": [
                "detractor",
                "passive",
                "promoter"
              ]
            }
          },
          {
            "name": "remark_type",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string",
              "enum": [
                "Idea",
                "Message",
                "NoType",
                "Praise",
                "Problem",
                "Question"
              ]
            }
          },
          {
            "name": "source",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string",
              "enum": [
                "api",
                "apple_app_store",
                "critizr",
                "email",
                "facebook",
                "facebook_messenger",
                "facebook_reviews",
                "google",
                "google_messaging",
                "google_play_store",
                "merci",
                "outbound_call",
                "pagesjaunes",
                "plv",
                "receipt",
                "sdk",
                "sms",
                "sms_conv",
                "sms_text",
                "sms_trans",
                "terminal",
                "tripadvisor",
                "uber_eats",
                "undefined",
                "whatsapp",
                "widget",
                "wifi"
              ]
            }
          },
          {
            "name": "begin",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "stats"
        ]
      }
    },
    "/stats/retained_customers": {
      "get": {
        "operationId": "stats_retained_customers_list",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RetainedCustomersMetric_read"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "by",
            "required": false,
            "in": "query",
            "description": "The field used to aggregate the metric.",
            "schema": {
              "type": "string",
              "enum": [
                "day",
                "month",
                "nps_category",
                "place",
                "quarter",
                "remark_type",
                "source",
                "survey",
                "year"
              ]
            }
          },
          {
            "name": "by_context",
            "required": false,
            "in": "query",
            "description": "The key from the context used to aggregate the metric.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "by_level_category",
            "required": false,
            "in": "query",
            "description": "The level category value used to aggregate the metric.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "place",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "places",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "level",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "levels",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "question",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "survey",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "nps",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string",
              "enum": [
                "detractor",
                "passive",
                "promoter"
              ]
            }
          },
          {
            "name": "remark_type",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string",
              "enum": [
                "Idea",
                "Message",
                "NoType",
                "Praise",
                "Problem",
                "Question"
              ]
            }
          },
          {
            "name": "source",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string",
              "enum": [
                "api",
                "apple_app_store",
                "critizr",
                "email",
                "facebook",
                "facebook_messenger",
                "facebook_reviews",
                "google",
                "google_messaging",
                "google_play_store",
                "merci",
                "outbound_call",
                "pagesjaunes",
                "plv",
                "receipt",
                "sdk",
                "sms",
                "sms_conv",
                "sms_text",
                "sms_trans",
                "terminal",
                "tripadvisor",
                "uber_eats",
                "undefined",
                "whatsapp",
                "widget",
                "wifi"
              ]
            }
          },
          {
            "name": "begin",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "stats"
        ]
      }
    },
    "/stats/satisfaction": {
      "get": {
        "operationId": "stats_satisfaction_list",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SatisfactionMetric_read"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "by",
            "required": false,
            "in": "query",
            "description": "The field used to aggregate the metric.",
            "schema": {
              "type": "string",
              "enum": [
                "day",
                "month",
                "nps_category",
                "place",
                "quarter",
                "remark_type",
                "source",
                "survey",
                "year"
              ]
            }
          },
          {
            "name": "by_context",
            "required": false,
            "in": "query",
            "description": "The key from the context used to aggregate the metric.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "by_level_category",
            "required": false,
            "in": "query",
            "description": "The level category value used to aggregate the metric.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "place",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "places",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "level",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "levels",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "question",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "survey",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "nps",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string",
              "enum": [
                "detractor",
                "passive",
                "promoter"
              ]
            }
          },
          {
            "name": "remark_type",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string",
              "enum": [
                "Idea",
                "Message",
                "NoType",
                "Praise",
                "Problem",
                "Question"
              ]
            }
          },
          {
            "name": "source",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string",
              "enum": [
                "api",
                "apple_app_store",
                "critizr",
                "email",
                "facebook",
                "facebook_messenger",
                "facebook_reviews",
                "google",
                "google_messaging",
                "google_play_store",
                "merci",
                "outbound_call",
                "pagesjaunes",
                "plv",
                "receipt",
                "sdk",
                "sms",
                "sms_conv",
                "sms_text",
                "sms_trans",
                "terminal",
                "tripadvisor",
                "uber_eats",
                "undefined",
                "whatsapp",
                "widget",
                "wifi"
              ]
            }
          },
          {
            "name": "begin",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "stats"
        ]
      }
    },
    "/stats/surveys/{id}": {
      "get": {
        "operationId": "stats_surveys_read",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SurveyMetricDetail_read"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "stats"
        ]
      }
    },
    "/surveys": {
      "get": {
        "operationId": "surveys_list",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Survey_read"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "cursor",
            "required": false,
            "in": "query",
            "description": "The pagination cursor value.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_size",
            "required": false,
            "in": "query",
            "description": "Number of results to return per page.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sort",
            "required": false,
            "in": "query",
            "description": "Which field to use when ordering the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "core"
        ]
      }
    },
    "/surveys/{id}": {
      "get": {
        "operationId": "surveys_read",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SurveyDetail_read"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "description": "A unique value identifying this rating question tag.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "core"
        ]
      }
    },
    "/surveys/{survey_pk}/places": {
      "get": {
        "operationId": "surveys_places_list",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Place_read"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "survey_pk",
            "required": true,
            "in": "path",
            "description": "A unique value identifying the parent survey.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "required": false,
            "in": "query",
            "description": "The pagination cursor value.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_size",
            "required": false,
            "in": "query",
            "description": "Number of results to return per page.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sort",
            "required": false,
            "in": "query",
            "description": "Which field to use when ordering the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "partner_id",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "core"
        ]
      }
    },
    "/surveys/{survey_pk}/responses": {
      "get": {
        "operationId": "surveys_responses_list",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Response_read"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "survey_pk",
            "required": true,
            "in": "path",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "required": false,
            "in": "query",
            "description": "The pagination cursor value.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_size",
            "required": false,
            "in": "query",
            "description": "Number of results to return per page.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sort",
            "required": false,
            "in": "query",
            "description": "Which field to use when ordering the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_date",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date_field",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "first_name",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "last_name",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "phone",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "crm_id",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "place",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "source",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "survey",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "has_answers",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "has_message",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "has_reply",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "core"
        ]
      }
    },
    "/surveys/{survey_pk}/responses/bulk": {
      "get": {
        "operationId": "surveys_responses_bulk",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDetail_read"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "survey_pk",
            "required": true,
            "in": "path",
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "core"
        ]
      }
    },
    "/universes": {
      "get": {
        "operationId": "universes_list",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Universe_read"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "cursor",
            "required": false,
            "in": "query",
            "description": "The pagination cursor value.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_size",
            "required": false,
            "in": "query",
            "description": "Number of results to return per page.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sort",
            "required": false,
            "in": "query",
            "description": "Which field to use when ordering the results.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "core"
        ]
      }
    },
    "/users": {
      "get": {
        "operationId": "users_list",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/UserProfile_read"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "cursor",
            "required": false,
            "in": "query",
            "description": "The pagination cursor value.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_size",
            "required": false,
            "in": "query",
            "description": "Number of results to return per page.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sort",
            "required": false,
            "in": "query",
            "description": "Which field to use when ordering the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "first_name",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "last_name",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "phone",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "core"
        ]
      }
    },
    "/users/{id}": {
      "get": {
        "operationId": "users_read",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/UserProfile_read"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "description": "A unique value identifying this user profile.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "core"
        ]
      }
    },
    "/users/{user_pk}/places": {
      "get": {
        "operationId": "users_places_list",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Place_read"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "user_pk",
            "required": true,
            "in": "path",
            "description": "A unique value identifying the parent user.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "required": false,
            "in": "query",
            "description": "The pagination cursor value.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_size",
            "required": false,
            "in": "query",
            "description": "Number of results to return per page.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sort",
            "required": false,
            "in": "query",
            "description": "Which field to use when ordering the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "partner_id",
            "required": false,
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "core"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "Configuration_read": {
        "type": "object",
        "properties": {
          "custom_parameters": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "key": {
                  "type": "string"
                },
                "label": {
                  "type": "string"
                },
                "required": {
                  "type": "boolean"
                },
                "use_in_stats": {
                  "type": "boolean"
                }
              },
              "additionalProperties": {
                "type": "string"
              }
            }
          }
        },
        "additionalProperties": {
          "type": "string"
        }
      },
      "Dashboard_read": {
        "type": "object",
        "properties": {
          "pending_alert": {
            "type": "integer"
          },
          "pending_reply": {
            "type": "integer"
          }
        },
        "additionalProperties": {
          "type": "string"
        }
      },
      "DissatisfactionMetric_read": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "key": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                },
                "count": {
                  "type": "integer"
                },
                "percentage": {
                  "type": "number"
                },
                "pending": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer"
                    },
                    "percentage": {
                      "type": "number"
                    }
                  },
                  "additionalProperties": {
                    "type": "string"
                  }
                },
                "spam": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer"
                    },
                    "percentage": {
                      "type": "number"
                    }
                  },
                  "additionalProperties": {
                    "type": "string"
                  }
                },
                "ignored": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer"
                    },
                    "percentage": {
                      "type": "number"
                    }
                  },
                  "additionalProperties": {
                    "type": "string"
                  }
                },
                "call": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer"
                    },
                    "percentage": {
                      "type": "number"
                    }
                  },
                  "additionalProperties": {
                    "type": "string"
                  }
                },
                "text": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer"
                    },
                    "percentage": {
                      "type": "number"
                    }
                  },
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              },
              "additionalProperties": {
                "type": "string"
              }
            }
          }
        },
        "additionalProperties": {
          "type": "string"
        }
      },
      "EventSampleMessage_read": {
        "type": "object",
        "properties": {
          "event_type": {
            "type": "string"
          },
          "response": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "token": {
                "type": "string"
              },
              "created_date": {
                "type": "string",
                "format": "date-time"
              },
              "updated_date": {
                "type": "string",
                "format": "date-time"
              },
              "source": {
                "type": "string",
                "enum": [
                  "email",
                  "sms_trans",
                  "sms_conv",
                  "sms_text",
                  "plv",
                  "receipt",
                  "google",
                  "google_messaging",
                  "critizr",
                  "tripadvisor",
                  "pagesjaunes",
                  "sdk",
                  "facebook",
                  "facebook_reviews",
                  "facebook_messenger",
                  "widget",
                  "terminal",
                  "outbound_call",
                  "wifi",
                  "sms",
                  "api",
                  "undefined",
                  "merci",
                  "google_play_store",
                  "apple_app_store",
                  "uber_eats",
                  "whatsapp"
                ]
              },
              "survey": {
                "type": "object",
[...]
